@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 60px 40px;
    border-radius: 15px 15px 130px 15px;
    width: 37rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputUser {
    display: flex;
    gap: 40px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(117, 117, 117);
}

input {
    width: 95px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.301);
    padding-left: 14px;
    padding-top: 7px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Poppins';
}

input::placeholder {
    color: #a2a2a2;
    font-weight: 600;
    font-size: 20px;
}

.line {
    width: 86.5%;
    height: 2px;
    background-color: grey;
    margin-top: 40px;
    opacity: .1;
    position: absolute;
    top: 120px;
    right: 50px;
}

button {
    position: absolute;
    right: 50px;
    top: 120px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    background-color: #884cfe;
    border-radius: 250px;
    border: 20px solid #884cfe;
    width: 30px;
}

.results {
    margin-top: 75px;
}

.result {
    display: flex;
    align-items: center;
    font-style: italic;
    gap: 15px;
}

.resultNumber {
    color: #884cfe;
    font-size: 60px;
    font-weight: 700;
}

.resultText {
    font-size: 60px;
    font-weight: 800;
}

.error {
    color: red;
    margin-top: 10px;
    position: absolute;
    top: 120px;
}

@media (max-width: 650px) {
    .container {
        width: 270px;
        height: 400px;
        padding: 70px 25px;
    }

    .inputUser {
        gap: 15px;
        justify-content: center;
    }

    input {
        width: 60px;
        padding-left: 5px;
    }

    .results {
        margin-top: 110px;
    }

    .resultNumber,
    .resultText {
        font-size: 40px;
    }

    .line {
        top: 140px;
        left: 25px;
    }

    #button {
        top: 150px;
        left: 50px;
    }

    .error {
        top: 10px;
        left: 0;
        text-align: center;
    }

    .resultNumber,
    .resultText {
        font-size: 46px;
    }
}

@media (max-width: 280px) {
    .container {
        width: 200px;
        height: 400px;
        padding: 70px 25px;
    }

    .results {
        margin-top: 130px;
    }

    .resultNumber,
    .resultText {
        font-size: 35px;
    }
}